<h2>Registrieren</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, :hint => "Nur Uni-Adressen funktionieren", :input_html => {:size => 30} %>
  <%= f.association :prefecture %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit "Registrieren" %>
<% end %>

<!-- <%= render :partial => "devise/shared/links" %> -->
