<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prefecture.name %>
</p>

<p>
  <b>Content:</b>
  <%= @prefecture.content %>
</p>


<%= link_to 'Edit', edit_prefecture_path(@prefecture) %> |
<%= link_to 'Back', prefectures_path %>
